<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ApplicationProperties</key>
	<dict>
		<key>ApplicationPath</key>
		<string>Applications/DictusApp.app</string>
		<key>Architectures</key>
		<array>
			<string>arm64</string>
		</array>
		<key>CFBundleIdentifier</key>
		<string>com.pivi.dictus</string>
		<key>CFBundleShortVersionString</key>
		<string>1.8.0</string>
		<key>CFBundleVersion</key>
		<string>27</string>
		<key>SigningIdentity</key>
		<string>Apple Development: Pierre VIVIERE (2AS4BMJ9JS)</string>
		<key>Team</key>
		<string>9B8B36C2FA</string>
	</dict>
	<key>ArchiveVersion</key>
	<integer>2</integer>
	<key>CreationDate</key>
	<date>2026-08-23T12:12:43Z</date>
	<key>Name</key>
	<string>DictusApp</string>
	<key>SchemeName</key>
	<string>DictusApp</string>
</dict>
</plist>
